body {
    background-color: #d91b5c;
}

.cranberryColor {
    background-color: #d91b5c;
}

/* .brand-logo {
    height: 100px;
    width: 200px;
    display: block;
    background: url('../img/logo-horizontal.png') no-repeat;
    background-size: contain;
    color: transparent;
} */

.img-intro {
    filter: opacity(0.6);
    height: 632px;
}

.brand-logo {
    margin-top: 5px;
    height: 100%;
    width: 100%;
    display: block;
    background-size: contain;
    color: transparent;
}

.button-collapse {
    color: #d91b5c;
}

.nav_f {
    background-color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: 0.5s all linear;
  }

nav ul a {
    color: #d91b5c;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
}

.intro {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    background-color: #d91b5c;
}

.text_h {
    font-size: 2.0em;
    font-weight: 200;
    color: #FFF;
    padding-bottom: 1.5em;
}