.cranberryColor {
    background-color: #d91b5c;
}

/* .brand-logo {
    height: 100px;
    width: 200px;
    display: block;
    background: url('../img/logo-horizontal.png') no-repeat;
    background-size: contain;
    color: transparent;
} */

img {
    
    height: 70px;
    width: 150px;
    display: block;
    background-size: contain;
    color: transparent;
}

.nav_f {
    background-color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: 0.5s all linear;
  }

nav ul a {
    color: #d91b5c;
    font-size: 10px;
}

.intro {
    background-color: #d91b5c;
}

.text_h {
    font-size: 3.0em;
    font-weight: 300;
    color: #FFF;
    padding-bottom: 1.5em;
}