.cranberryColor {
    background-color: #d91b5c;
}

header {
    width: 100%;
    text-align: center;    
    background-color: #FFF;
}

header nav {
    box-shadow: none;
    width: 100%;
}

nav ul li {
    margin-right: 10px;
}

header nav ul li a{
    color: #d91b5c;
}

.nav_f {
    background-color: transparent;
}

.intro {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    background-color: #d91b5c;
}

.text_h {
    margin: 0;
    font-size: 3.0em;
    font-weight: 300;
    color: #000;
    padding-bottom: 1.5em;
}